# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.


# Website content
title: Herbes Folles II
description: >- # this means to ignore newlines
  Les 19, 20 et 21 Août 2022
extended_description: >-
  Musique electronique, décoration et nourriture maison 


# Website configuration
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://herbesfolles.net" # the base hostname & protocol for your site, e.g. http://example.com
icon: /assets/images/icon-512.png

lang: "fr"

# Build settings
markdown: kramdown
kramdown:
  hard_wrap: true

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

plugins:
  - jekyll-paginate

paginate: 3
paginate_path: "/page/:num/"