@mixin divider {
  border: 0;
  display: block;
  width: 152px;
  height: 12px;
  margin: .5em auto 0;
  background: url(#{$asset_url}/images/divider.svg) no-repeat top center;
  filter: invert(18%) sepia(78%) saturate(1196%) hue-rotate(198deg) brightness(88%) contrast(92%);
}