@mixin divider {
  border: 0;
  display: block;
  width: 152px;
  height: 12px;
  margin: .5em auto 0;
  background: url(#{$asset_url}/images/divider.svg) no-repeat top center;
  filter: invert(83%) sepia(22%) saturate(436%) hue-rotate(136deg) brightness(86%) contrast(82%);
}