$brand-color:         #F5ECE6;
$highlight:           lighten($brand-color, 35%);
$text-color:          #0b0404;
$color-sapin:   #144F36;
$color-terracota: 	  #B14A3E;
$color-sable:		  #EED1BA;
$color-coquille:   #F5ECE6;
$color-opale: 		  #8ABEC2;
$muted-text-color:    #64644B;
$font-family:         "Alegreya Sans", Alegreya, "Times New Roman", serif;

$on-bigphone:         375px;
$on-tablet:           768px;
$on-laptop:           960px;
$on-desktop:          1200px;