$text-color:          #263c6f; // Couleur du texte sur les articles
$muted-text-color:    #708bad; // Couleur quand on passe la souris sur un texte du bandeau de navigation
$title_color_home: 	  #ec8f37; // Couleur des titres
$subtitle_color_home: #e19aa4; // Couleur du sous titre de la page principale

$title_color: #e19aa4; // Couleur des titres sur les pages annexes


$main_background:		  #ffffff; // Couleur du fond principal
$text_background:   #ffffff; // Couleur du fond des articles

$outline_color: 		  #e19aa4; // Couleur du liseré
$brand-color:         #ff0000; // Couleur du surlignage des liens
$highlight:           lighten($brand-color, 35%);

$font-family:         "Alegreya Sans", Alegreya, "Times New Roman", serif;

$on-bigphone:         400px;
$on-tablet:           768px;
$on-laptop:           960px;
$on-desktop:          1200px;
