<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{{ site.title }}{% if page.title and page.title != "" %} &mdash; {{ page.title }}{% endif %}</title>

    {% if site.description %}<meta name="description" content="{{ site.description }}">{% endif %}  

    <link rel="stylesheet" href="{{ '/assets/css/main.css' | absolute_url }}?{{ site.time | date: '%s%N' }}">

    <link rel="apple-touch-icon" href="{{ site.icon }}">

  </head>
  <body>
	<script>if(navigator.getEnvironmentIntegrity!==undefined)document.querySelector('body').innerHTML='<h1>Votre navigateur contiens des mesures techniques de protecion de Google (DRM)</h1>"Web Environment Integrity" est un euphémisme de Google pour un système de gestion des droits numériques qui vise à empêcher le blocage des publicités. En soutien à un web libre et ouvert, ce site internet ne fonctionne pas avec les navigateurs contenant un tel outil. Vous pouvez installer un navigateur tel que <a href="https://www.mozilla.org/en-US/firefox/new/">Firefox</a> qui respecte votre liberté et supporte les bloqueurs de publicités.';</script>
    {{ content }}

    {% include menu.html %}

  </body>
</html>
