---
layout: default
---

{% if site.data.menu and site.paginate and site.paginate_path and paginator.page > 1 %}
  {% include menu.html %}
{% elsif site.paginate and site.paginate_path and paginator.page > 1 %}
  {% include back-link.html %}
{% else %}
  <header class="site-masthead">
    {% include menu.html %}
    {% if site.title %}
      <h1>
        {{ site.title }}
      </h1>
    {% endif %}
    {% if site.title %}
      <h2>
        {{ site.description }}
      </h2>
      <div class="post h-entry" style="padding-top: 2em;">
        <h2 style="max-width: none;">Mise en bouche...</h2>
        <hr>

        <div class="post-content e-content" style="padding-top: 2em;">
          <p>
          Laissées à leur sort, les herbes folles poussent, grandissent, germent et prolifèrent.
          Elles agrippent la jambe du premier passant, s'emmêlent dans les lacets et entraînent irrésistiblement le visiteur dans leur jardin chaotique.
          En un coup de vent, les voilà qui dansent en farandole, qui se balancent comme des pendules hypnotiques et aspirent tout ce qui passe dans leur cadence effrénée.
          Les parfums, les mélodies et les rires de la forêt se joignent à la fête et ce tourbillon emporte avec lui tous les rôdeurs de la nuit.
        </p>
        <p>
          Cette année encore, les herbes folles manigancent quelque chose. Si l'on tend l'oreille, on entend déjà la rumeur de toutes ces nouvelles graines :
          Graine de folie, graine de malice, graine de félicité, toutes poussent doucement et se préparent pour éclore cet été.
          C'est les 19 et 20 août, dans le jardin du pétrin, que les festivités sont annoncées.
          Alors rejoignez-les, allez camper en haut de la colline, danser à l'orée de la forêt et partager ce moment d'allégresse et de convivialité.
          Prenez vos tentes ou vos hamacs et n'hésitez pas à apporter des jeux d'extérieurs en tout genre, du matériels de jonglerie ou votre meilleur costume, au hasard de la rencontre, vous pourrez rejoindre cette nouvelle fête des possibles.
        </p>
      </div>
      <hr>
    </div>
      <div style="padding-top: 2rem;">
        
        


<div style="display: block; text-align: center;">
    <a href="https://www.helloasso.com/associations/herbes-folles/evenements/herbes-folles-2" style="padding: 15px 36px; display: inline-block; font-family: 'Open Sans', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 20px; font-weight: 600; text-align: center; color: #b14a3e; text-decoration: none; background-color: #fff; border: none; -webkit-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);" id="widgetButton_event" target="_blank">Participer</a>
</div>

    
      </div>
    {% endif %}
  </header>
{% endif %}

<main class="home" id="main" role="main" aria-label="Content">
    

</main>