---
layout: default
---
  <div>
    <div class="homepage-shrooms-container">
        <img class='homepage-shrooms homepage-shrooms-left'src='/assets/images/menu_vertical.svg'/>
        <img class='homepage-shrooms homepage-shrooms-right' src='/assets/images/menu_vertical.svg'/>
    </div>
  </div>

  <header class="site-masthead">
    </div>
    <img
      src="/assets/images/logo.svg"
      alt="{{ site.title }}"
      class="header_img"
    />
    {% if site.title %}
      <h1 style="display: none;">
        {{ site.title }}
      </h1>
    {% endif %}

      <h2>
        {{ site.description }}
      </h2>

    {% include menu.html %}

  <i style="font-style:italic; color:grey">{{ site.data.home.hero.note }}</i>
  </header>
      <div class="post h-entry" style="padding-top: 2em;">

        <h2 style="max-width: none; text-align: center;">{{ site.data.home.intro.title }}</h2>
        <hr>

        <div class="post-content e-content" style="padding-top: 2em;">
          {% for item in site.data.home.intro.content %}
            <p>{{ item }}</p>
          {% endfor %}
      </div>
      <hr>
    </div>
  <div style="padding-top: 2rem;">
        

  <h2 style="text-align: ">Actualités</h2>
    <div class="content">
      <ul class="post-list">
        {% for post in site.posts %}        
          {% include post-list-item.html %}
        {% endfor %}
      </ul>
    </div>

    </div>

<main class="home" id="main" role="main" aria-label="Content">
    

</main>