---
layout: default
---

{% if site.data.menu and site.paginate and site.paginate_path and paginator.page > 1 %}
  {% include menu.html %}
{% elsif site.paginate and site.paginate_path and paginator.page > 1 %}
  {% include back-link.html %}
{% else %}
  <header class="site-masthead">
    {% include menu.html %}
    {% if site.title %}
      <h1>
        {{ site.title }}
      </h1>
    {% endif %}
    {% if site.title %}
      <h2>
        {{ site.description }}
      </h2>
      <div style="padding-top: 2rem;">
        <iframe id="haWidget" allowtransparency="true" src="https://www.helloasso.com/associations/herbes-folles/evenements/herbes-folles-2/widget-bouton" style="width: 100%; height: 70px; border: none;"></iframe>
      </div>
    {% endif %}
  </header>
{% endif %}

<main class="home" id="main" role="main" aria-label="Content">
    

</main>